<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.gsantner.memetastic"
    android:installLocation="auto"
    tools:ignore="GoogleAppIndexingWarning">

    <application
        android:name="net.gsantner.memetastic.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="net.gsantner.memetastic.activity.MySearchFoll"
            android:parentActivityName="net.gsantner.memetastic.activity.MainActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="net.gsantner.memetastic.activity.ProfileAct"
            android:parentActivityName="net.gsantner.memetastic.activity.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="net.gsantner.memetastic.activity.CreateGroup"
            android:parentActivityName="net.gsantner.memetastic.activity.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="net.gsantner.memetastic.activity.MyProfilePage"
            android:parentActivityName="net.gsantner.memetastic.activity.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="net.gsantner.memetastic.activity.ForgotPassword"
            android:parentActivityName="net.gsantner.memetastic.activity.SignupPage"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="net.gsantner.memetastic.activity.SignupPage"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">




        </activity>
        <activity
            android:name="net.gsantner.memetastic.activity.LoginPage"
            android:label="@string/app_name"
            android:parentActivityName="net.gsantner.memetastic.activity.SignupPage"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="net.gsantner.memetastic.activity.RetrieveImages" />
        <activity
            android:name="net.gsantner.memetastic.activity.MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="net.gsantner.memetastic.activity.MemeCreateActivity"
            android:focusable="true"
            android:focusableInTouchMode="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/create_meme__appspecific"
            android:parentActivityName="net.gsantner.memetastic.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.gsantner.memetastic.activity.MainActivity" />
        </activity> <!-- Activities -->
        <activity
            android:name="net.gsantner.memetastic.activity.SettingsActivity"
            android:label="@string/settings"
            android:launchMode="singleInstance"
            android:parentActivityName="net.gsantner.memetastic.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.gsantner.memetastic.activity.MainActivity" />
        </activity>
        <activity
            android:name="net.gsantner.memetastic.activity.MoreInfoActivity"
            android:launchMode="singleInstance"
            android:parentActivityName="net.gsantner.memetastic.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.gsantner.memetastic.activity.MainActivity" />
        </activity>
        <activity
            android:name="net.gsantner.memetastic.activity.ImageViewActivity"
            android:parentActivityName="net.gsantner.memetastic.activity.MoreInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.gsantner.memetastic.activity.MoreInfoActivity" />
        </activity>
        <activity
            android:name="net.gsantner.memetastic.activity.FirebaseFragment"
            android:label="FirebaseImages "
            android:parentActivityName="net.gsantner.memetastic.activity.FirebaseFragment" />
        <activity
            android:name="View.MainActivity"
            android:label="FirebaseImages "
            android:parentActivityName="View.MainActivity" />
        <activity
            android:name="View.ItemsActivity"
            android:parentActivityName="View.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="View.UploadActivity"
            android:label="Upload Page "
            android:parentActivityName="View.MainActivity" />
        <activity
            android:name="View.DetailsActivity"
            android:label="Details Page "
            android:parentActivityName="View.ItemsActivity" />



        <activity
            android:name="com.dannproductions.instaclone.Home.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"

            ></activity>
        <activity
            android:name="com.dannproductions.instaclone.Like.LikesActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.dannproductions.instaclone.Profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.dannproductions.instaclone.Search.SearchActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.dannproductions.instaclone.Share.ShareActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.dannproductions.instaclone.Settings.SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name="com.dannproductions.instaclone.Login.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name="com.dannproductions.instaclone.RegisterAcount.RegisterAccountActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.dannproductions.instaclone.Share.NextScreenActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.dannproductions.instaclone.Profile.ViewPostActivity" />
        <activity android:name="com.dannproductions.instaclone.Utils.CommentsActivity" />
        <activity android:name="com.dannproductions.instaclone.Utils.ViewProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.dannproductions.instaclone.Utils.VideoPlayerActivity"></activity>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="io.github.gsantner.memetastic.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>